// styling for the about section

#about-mobile {
  display: none;
}
.mobile {
  display: none;
}

#about {
  padding-bottom: 1rem;

  .left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;

    .about-me-h1 {
      padding-bottom: 0.5rem;
      padding-left: 1rem;
      font-size: 8vw;
    }
    p {
      padding-left: 2rem;
      padding-right: 1rem;
    }
  }
  .right {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 50%;
    padding-bottom: 1.5rem;
    .box {
      &-primary {
        height: 65%;
        position: absolute;
        bottom: -0.5rem;
        right: 0;
        width: 95%;
        background: $primary;
        box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        z-index: -2;
      }
    }
    .about-me-img {
      width: 60%;
    }
    img {
      width: 100%;
      max-width: 600px; //MEDIA QUERIES
      aspect-ratio: 1/1;
      box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
      border-radius: 10px;
    }
  }
}

@media (max-width: 650px) {
  #about {
    .box-primary {
      width: 50% !important;
      left: 0 !important;
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    .title {
      display: none;
    }
    .mobile {
      display: flex;
    }
    .left {
      order: 2;
      p {
        padding: 1rem;
      }
    }
    .right {
      align-items: center;
      justify-content: center;
      order: 1;
    }
  }
}

/*
//mobile
@media (max-width: 480px) {
  #about {
    display: none;
  }

  #about-mobile {
    width: 100%;
    display: flex;

    .left {
      max-width: 50%;
      display: flex;
      justify-self: flex-start;
      align-items: flex-start;
      position: relative;
      height: 100vh;
      width: 50%;

      .box {
        &-top-left {
          position: absolute;
          height: 35vh;
          width: clamp(100%, 50vw, 50vw);
          background: $primary;
          box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
          border-bottom-right-radius: 10px;
          z-index: -2;
        }
      }
    }

    .title {
      position: absolute;
      top: 115%;
      left: 28%;
      font-family: "Caviar Dreams Bold";
      color: $black;
      font-size: 2rem;
      z-index: 10;
    }
    img {
      position: absolute;
      top: 125%;
      left: 23%;
      aspect-ratio: 1/1;
      height: 27%;
      z-index: -1;
      box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
      border-radius: 10px;
    }
    p {
      position: absolute;
      top: 155%;
      right: 6%;
      left: 9%;
      font-family: "Caviar Dreams";
      color: $black;
      font-size: 0.8rem;
      text-align: justify;
      padding: 0.5rem;
    }

    .right {
      p {
        position: absolute;
        top: 62rem;
        left: 6rem;
        font-family: "Caviar Dreams Bold";
        color: $primary;
        font-size: 16rem;
        bottom: -5rem;
        opacity: 0.2;
        z-index: -2;
      }
    }
  }
}
*/
