// styling for the contact section

#contact-mobile,
#impressum-mobile {
  display: none;
}

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  padding: 17vw 0;

  .backgroundcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: -2;

    .backgroundcontact {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Caviar Dreams Bold";
      color: $primary;
      width: 100%;
      font-size: 17vw;
      pointer-events: none;
      opacity: 0.4;
      z-index: -2;
    }
  }
  img {
    width: 5vw;
    height: 5vw;
  }
  .contact-icons {
    cursor: pointer;
    a {
      padding: 0.2rem;
      color: $white;
    }
  }
}
@media (max-width: 650px) {
  #contact {
    img {
      width: 7vw;
      height: 7vw;
    }
  }
}
