// styling for the contact section

#contact-mobile,
#impressum-mobile {
  display: none;
}

#contact {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  padding-top: 14vw;

  .backgroundcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: -2;

    .backgroundcontact {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Caviar Dreams Bold";
      color: $primary;
      width: 100%;
      font-size: 17vw;
      pointer-events: none;
      opacity: 0.8;
      z-index: -2;
    }
  }
  .icon-size {
    width: 4.3vw;
    height: 4.3vw;
  }
  .contact-icons {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 1.7rem;
    a {
      padding: 0.2rem;
      color: $white;
    }
  }
  .icons-container {
    font-family: "Caviar Dreams";
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .copyright {
      font-size: 0.3rem;
      width: 100%;
      line-height: 0.25rem;
    }
    .impressum {
      align-items: flex-end;
      text-align: center;
      font-size: 0.25rem;
      width: 100%;
    }
    .link {
      align-items: flex-end;
      text-align: center;
      font-size: 0.2rem;
      width: 100%;
      line-height: 0.25rem;
      padding-bottom: 0.5rem;
    }
  }
}
@media (max-width: 650px) {
  #contact {
    .icon-size {
      width: 10vw;
      height: 10vw;
    }
    .icons-container {
      .copyright {
        font-size: 0.6rem !important;
      }
      .impressum {
        font-size: 0.4rem !important;
        padding: 0.1rem;
      }
      .link {
        font-size: 0.35rem !important;
      }
    }
  }
}

#impressum {
  padding-bottom: 1rem;
  padding-top: 1rem;
  .left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
      .impressum-h1 {
        padding-bottom: 0.5rem;
        padding-left: 1rem;
        font-size: 8vw;
      }
      p {
        padding-left: 2rem;
        padding-right: 1rem;
        text-align: center;
      }
  }
  .right {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 50%;
    padding-bottom: 1.5rem;
      .box-primary {
        height: 85%;
        position: absolute;
        bottom: -1rem;
        right: 0;
        width: 95%;
        background: #ebb7b3;
        box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        z-index: -2;
      }
      .impressum-img {
        width: 60%;
      }
  }
}
.back-impressum{
  padding: 30px 40px;
  color: #ebb7b3;
  font-size: 20px;
  width: 0.8rem;
}
@media (max-width: 650px) {
  #impressum {
    .box-primary {
    width: 50% !important;
    left: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    }
    .title {
        display: none;
      }
    .mobile {
        display: flex;
      }
   .left {
      p {
      padding: 0.3rem;
      }
    }
  }
}