// ront mixins

@font-face {
  font-family: "Caviar Dreams";
  src: url(../font/CaviarDreams.ttf);
}
@font-face {
  font-family: "Caviar Dreams Bold";
  src: url(../font/CaviarDreams_Bold.ttf);
}
@font-face {
  font-family: "Caviar Dreams Italic";
  src: url(../font/CaviarDreams_Italic.ttf);
}
@font-face {
  font-family: "Caviar Dreams Bolditalic";
  src: url(../font/CaviarDreams_Bolditalic.ttf);
}
