// styling for the projects section

#projects-mobile-details,
#projects-mobile-photography,
#projects-mobile-mtm {
  display: none;
}

.padding-bottom-projects {
  padding-bottom: 2rem;
}

#projects {
  width: 100%;
  display: flex;

  .left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;

    .project-title {
      position: relative;
      height: 7rem;
      display: flex;
      align-items: center;
      .projectNR {
        position: absolute;
        top: 50%;
        transform: translate(-26%, -50%);
        font-family: "Caviar Dreams Bold";
        color: $primary;
        font-size: 6.5rem;
        opacity: 0.8;
      }

      .title {
        position: relative;
        font-family: "Caviar Dreams Bold";
        color: $black;
        font-size: 1.5rem;
        z-index: 10;
      }
    }
    .link-underline {
      text-decoration: underline $primary 0.1rem;
      text-decoration-skip-ink: none;
    }

    @media (min-width: 650px) {
      @keyframes text {
        0% {
          top: 200vh;
          opacity: 0;
        }
        100% {
          top: 0;
          opacity: 100;
        }
      }
      .p-animation {
        position: relative;
        animation-name: text;
        animation-duration: 1s;
        animation-fill-mode: forwards;
      }
    }
    p {
      padding-left: 1rem;
      padding-right: 1rem;
      z-index: 1;
    }
    .tags {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      font-family: "Caviar Dreams Bold";
      color: $primary;
      font-size: 0.5rem;
      padding: 0.1rem;
      padding-left: 1rem;
    }
  }

  .right {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    width: 50%;

    img {
      width: 100%;
    }
  }
}

@media (max-width: 650px) {
  .right,
  .left {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .mtm-title {
    padding: 0;
  }
  .mtm-p {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
  #projects {
    pointer-events: none;

    .right {
      .img-MTM {
        padding-bottom: 2.5rem;
      }
    }
  }
}
