//scrollbar
::-webkit-scrollbar {
  width: 0.15rem;
}
::-webkit-scrollbar-thumb {
  background: $primary;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: $primary;
}

//back-to-top button
#Top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  cursor: pointer;
  background-color: none;
  z-index: 10;
}
#Top:hover {
  color: $primary;
}
