// styling for the skills section

#skills-mobile-programming,
#skills-mobile-creative {
  display: none;
}

#skills {
  width: 100%;
  display: flex;

  .left {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    height: 100vh;
    width: 70%;

    .box {
      &-primary {
        position: absolute;
        top: 0;
        left: 0;
        height: 40vh;
        width: clamp(20%, 50vw, 12vw);
        background: $primary;
        box-shadow: 1px 0 0.5rem rgba(0, 0, 0, 0.5);
        border-top-right-radius: 0.1rem;
        border-bottom-right-radius: 0.1rem;
        z-index: -2;
      }
    }

    .title {
      font-family: "Caviar Dreams Bold";
      padding-top: 10vh;
      color: $black;
      font-size: 1rem;
      padding-left: 2rem;
      z-index: 10;
    }

    .left-elements {
      display: flex;
      justify-content: center;
      position: relative;
      width: 100%;
      padding-top: 2rem;
      padding-left: 1rem;

      .line {
        position: absolute;
        height: 100%;
        width: 0.5vw;
        background: $black;
        border-radius: 5px;
        z-index: -1;
      }

      li {
        font-family: "Caviar Dreams Bold";
        color: $black;
        list-style: none;
        line-height: 1rem;
        font-size: 0.6rem;
        z-index: 10;
      }
      .left-left {
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: relative;
        width: 40%;
        padding-left: 25%;
      }
      .left-right {
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: relative;
        width: 40%;
      }
    }
  }
  .creativetop {
    padding-top: 2.5rem;
  }

  .right {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    position: relative;
    height: 100vh;
    width: 30%;

    svg {
      padding-top: 0.5rem;
      padding-right: 0.5rem;
      opacity: 0.4;
      z-index: -2;
    }
  }
}

@media (max-width: 1520px) {
  #skills {
    height: 100vh;
    width: 100%;
    display: flex;

    .left {
      padding-right: 3rem;

      .box {
        &-primary {
          height: 100vh;
          width: clamp(10%, 50vw, 5vw);
        }
      }

      .left-elements {
        padding-top: 1rem;
        .left-left {
          ul {
            padding-left: 0rem;
          }
        }
      }

      .left-right {
        ul {
          padding-left: 1rem;
        }
      }
    }
  }
}

//mobile
@media (max-width: 480px) {
  #skills {
    display: none;
  }

  //programming skills
  #skills-mobile-programming {
    height: 100vh;
    width: 100%;
    display: flex;

    .left {
      max-width: 50%;
      display: flex;
      justify-self: flex-start;
      align-items: flex-start;
      position: relative;
      height: 100vh;
      width: 50%;
      padding-top: 17rem;

      .box {
        &-top-left {
          position: absolute;
          height: 35vh;
          width: clamp(100%, 50vw, 50vw);
          background: $primary;
          box-shadow: 1px 0 0.5rem rgba(0, 0, 0, 0.5);
          border-bottom-right-radius: 0.1rem;
          z-index: -2;
        }
      }
    }

    .title {
      position: absolute;
      top: 725%;
      left: 20%;
      font-family: "Caviar Dreams Bold";
      color: $black;
      font-size: 2rem;
      z-index: 10;
    }
    ul {
      position: absolute;
      top: 752%;
      right: 6%;
      left: 23%;
      line-height: 1.5rem;
      font-family: "Caviar Dreams";
      color: $black;
      font-size: 1rem;
      text-align: justify;
      padding: 0.5rem;
    }

    .right {
      svg {
        position: absolute;
        top: 310rem;
        right: 0rem;
        font-family: "Caviar Dreams Bold";
        color: $primary;
        font-size: 16rem;
        bottom: -5rem;
        opacity: 0.2;
        z-index: -2;
      }
    }
  }

  //creative skills
  #skills-mobile-creative {
    height: 100vh;
    width: 100%;
    display: flex;

    .left {
      display: flex;
      justify-self: flex-start;
      align-items: flex-start;
      position: relative;
      height: 100vh;
      width: 50%;
      padding-top: 17rem;

      .box {
        &-top-left {
          position: absolute;
          height: 35vh;
          width: clamp(100%, 50vw, 50vw);
          background: $primary;
          box-shadow: 1px 0 0.5rem rgba(0, 0, 0, 0.5);
          border-bottom-right-radius: 0.1rem;
          z-index: -2;
        }
      }
    }

    .title {
      position: absolute;
      top: 828%;
      left: 17%;
      font-family: "Caviar Dreams Bold";
      color: $black;
      font-size: 2rem;
      z-index: 10;
    }
    ul {
      position: absolute;
      top: 851%;
      right: 6%;
      left: 23%;
      line-height: 1.5rem;
      font-family: "Caviar Dreams";
      color: $black;
      font-size: 1rem;
      text-align: justify;
      padding: 0.5rem;
    }

    .right {
      display: flex;
      justify-self: flex-start;
      align-items: flex-start;
      position: relative;
      height: 100vh;
      width: 50%;
      padding-top: 17rem;

      svg {
        position: absolute;
        top: 346rem;
        right: 0rem;
        font-family: "Caviar Dreams Bold";
        color: $primary;
        font-size: 16rem;
        bottom: -5rem;
        opacity: 0.2;
        z-index: -2;
      }
    }
  }
}
