// styling for the about section

#about-mobile {
  display: none;
}

#about {
  height: 100vh;
  width: 100%;
  display: flex;

  .left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;

    .title {
      font-family: "Caviar Dreams Bold";
      color: $black;
      font-size: 1rem;
    }
    p {
      font-family: "Caviar Dreams";
      color: $black;
      font-size: 0.45rem;
      text-align: justify;
      padding: 2rem;
    }
  }

  .right {
    padding-top: 1.8rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 50%;

    .box {
      &-primary {
        position: absolute;
        height: 65vh;
        bottom: 0;
        right: 0;
        width: clamp(90%, 50vw, 40vw);
        background: $primary;
        box-shadow: 1px 0 0.5rem rgba(0, 0, 0, 0.5);
        border-bottom-left-radius: 0.1rem;
        z-index: -2;
      }
    }

    img {
      width: 65%;
      aspect-ratio: 1/1;
      z-index: -1;
      box-shadow: 1px 0 0.5rem rgba(0, 0, 0, 0.5);
      border-radius: 0.1rem;
    }
  }
}

@media (max-width: 1300px) {
  #about {
    height: 100vh;
    width: 100%;
    display: flex;

    .right {
      max-width: 50%;
      padding-top: 1rem;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      position: relative;
      width: 50%;

      .box {
        &-primary {
          position: absolute;
          height: 80vh;
          width: clamp(100%, 50vw, 50vw);
        }
      }

      img {
        padding-top: 5vh;
        box-shadow: none;
      }
    }
  }
}

//mobile
@media (max-width: 480px) {
  #about {
    display: none;
  }

  #about-mobile {
    height: 100vh;
    width: 100%;
    display: flex;

    .left {
      max-width: 50%;
      display: flex;
      justify-self: flex-start;
      align-items: flex-start;
      position: relative;
      height: 100vh;
      width: 50%;

      .box {
        &-top-left {
          position: absolute;
          height: 35vh;
          width: clamp(100%, 50vw, 50vw);
          background: $primary;
          box-shadow: 1px 0 0.5rem rgba(0, 0, 0, 0.5);
          border-bottom-right-radius: 0.1rem;
          z-index: -2;
        }
      }
    }

    .title {
      position: absolute;
      top: 115%;
      left: 28%;
      font-family: "Caviar Dreams Bold";
      color: $black;
      font-size: 2rem;
      z-index: 10;
    }
    img {
      position: absolute;
      top: 125%;
      left: 23%;
      aspect-ratio: 1/1;
      height: 27%;
      z-index: -1;
      box-shadow: 1px 0 0.5rem rgba(0, 0, 0, 0.5);
      border-radius: 0.1rem;
    }
    p {
      position: absolute;
      top: 155%;
      right: 6%;
      left: 9%;
      font-family: "Caviar Dreams";
      color: $black;
      font-size: 0.8rem;
      text-align: justify;
      padding: 0.5rem;
    }

    .right {
      p {
        position: absolute;
        top: 62rem;
        left: 6rem;
        font-family: "Caviar Dreams Bold";
        color: $primary;
        font-size: 16rem;
        bottom: -5rem;
        opacity: 0.2;
        z-index: -2;
      }
    }
  }
}
