@font-face {
  font-family: "Caviar Dreams";
  src: url(../font/CaviarDreams.ttf);
}
@font-face {
  font-family: "Caviar Dreams Bold";
  src: url(../font/CaviarDreams_Bold.ttf);
}
@font-face {
  font-family: "Caviar Dreams Italic";
  src: url(../font/CaviarDreams_Italic.ttf);
}
@font-face {
  font-family: "Caviar Dreams Bolditalic";
  src: url(../font/CaviarDreams_Bolditalic.ttf);
}
* {
  margin: 0 !important;
}

html {
  font-size: 60px;
}

@media (max-width: 1000px) {
  html {
    font-size: 40px;
  }
}
@media (max-width: 700px) {
  html {
    font-size: 30px;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 20px;
  }
}
a {
  color: #000;
  text-decoration: none;
}

body {
  height: 100vh;
}

/*
.container {
  width: 1000%;
  height: 100%;
  display: flex;
  flex-wrap: no-wrap;
}
.panel {
  will-change: transform;
}
*/
#hero-mobile {
  display: none;
}

#hero {
  height: 100vh;
  width: 100%;
  display: flex;
}
#hero .left {
  max-width: 50%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  position: relative;
  height: 100vh;
  width: 50%;
}
#hero .left .box-primary {
  position: absolute;
  height: 80vh;
  width: clamp(100%, 50vw, 50vw);
  background: #ebb7b3;
  box-shadow: 1px 0 0.5rem rgba(0, 0, 0, 0.5);
  border-bottom-right-radius: 0.1rem;
  z-index: -2;
}
#hero .left .firstname {
  font-family: "Caviar Dreams Bold";
  padding-top: 40vh;
  color: #000;
  font-size: 1rem;
  padding-right: 5px;
  z-index: 10;
}
#hero .right {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  padding-left: 15px;
}
#hero .right .lastname {
  font-family: "Caviar Dreams Bold";
  color: #ebb7b3;
  font-size: 1rem;
  padding-top: 40vh;
  padding-right: 1rem;
  z-index: 10;
}
#hero .right .subtitle {
  font-family: "Caviar Dreams";
  color: #000;
  font-size: 0.5rem;
  margin-top: 0%;
  z-index: 10;
}

@media (max-width: 480px) {
  #hero {
    display: none;
  }

  #hero-mobile {
    height: 100vh;
    width: 100%;
    display: flex;
  }
  #hero-mobile .left {
    max-width: 50%;
    display: flex;
    justify-self: flex-start;
    align-items: flex-start;
    position: relative;
    height: 100vh;
    width: 50%;
  }
  #hero-mobile .left .box-top-left {
    position: absolute;
    height: 35vh;
    width: clamp(100%, 50vw, 50vw);
    background: #ebb7b3;
    box-shadow: 1px 0 0.5rem rgba(0, 0, 0, 0.5);
    border-bottom-right-radius: 0.1rem;
    z-index: -2;
  }
  #hero-mobile .firstname {
    position: absolute;
    top: 42%;
    left: 38%;
    font-family: "Caviar Dreams Bold";
    color: #000;
    font-size: 2rem;
    z-index: 10;
  }
  #hero-mobile .lastname {
    position: absolute;
    top: 47%;
    left: 17%;
    font-family: "Caviar Dreams Bold";
    color: #ebb7b3;
    font-size: 2rem;
    z-index: 10;
  }
  #hero-mobile .subtitle {
    position: absolute;
    top: 54%;
    left: 33%;
    font-family: "Caviar Dreams";
    color: #000;
    font-size: 1rem;
    z-index: 10;
  }
  #hero-mobile .right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    height: 100vh;
    width: 50%;
  }
  #hero-mobile .right .box-bottom-right {
    position: absolute;
    height: 35vh;
    width: clamp(100%, 50vw, 50vw);
    background: #ebb7b3;
    box-shadow: 1px 0 0.5rem rgba(0, 0, 0, 0.5);
    border-bottom-right-radius: 0.1rem;
    z-index: -2;
  }
}
#about-mobile {
  display: none;
}

#about {
  height: 100vh;
  width: 100%;
  display: flex;
}
#about .left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}
#about .left .title {
  font-family: "Caviar Dreams Bold";
  color: #000;
  font-size: 1rem;
}
#about .left p {
  font-family: "Caviar Dreams";
  color: #000;
  font-size: 0.45rem;
  text-align: justify;
  padding: 2rem;
}
#about .right {
  padding-top: 1.8rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 50%;
}
#about .right .box-primary {
  position: absolute;
  height: 65vh;
  bottom: 0;
  right: 0;
  width: clamp(90%, 50vw, 40vw);
  background: #ebb7b3;
  box-shadow: 1px 0 0.5rem rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 0.1rem;
  z-index: -2;
}
#about .right img {
  width: 65%;
  aspect-ratio: 1/1;
  z-index: -1;
  box-shadow: 1px 0 0.5rem rgba(0, 0, 0, 0.5);
  border-radius: 0.1rem;
}

@media (max-width: 1300px) {
  #about {
    height: 100vh;
    width: 100%;
    display: flex;
  }
  #about .right {
    max-width: 50%;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 50%;
  }
  #about .right .box-primary {
    position: absolute;
    height: 80vh;
    width: clamp(100%, 50vw, 50vw);
  }
  #about .right img {
    padding-top: 5vh;
    box-shadow: none;
  }
}
@media (max-width: 480px) {
  #about {
    display: none;
  }

  #about-mobile {
    height: 100vh;
    width: 100%;
    display: flex;
  }
  #about-mobile .left {
    max-width: 50%;
    display: flex;
    justify-self: flex-start;
    align-items: flex-start;
    position: relative;
    height: 100vh;
    width: 50%;
  }
  #about-mobile .left .box-top-left {
    position: absolute;
    height: 35vh;
    width: clamp(100%, 50vw, 50vw);
    background: #ebb7b3;
    box-shadow: 1px 0 0.5rem rgba(0, 0, 0, 0.5);
    border-bottom-right-radius: 0.1rem;
    z-index: -2;
  }
  #about-mobile .title {
    position: absolute;
    top: 115%;
    left: 28%;
    font-family: "Caviar Dreams Bold";
    color: #000;
    font-size: 2rem;
    z-index: 10;
  }
  #about-mobile img {
    position: absolute;
    top: 125%;
    left: 23%;
    aspect-ratio: 1/1;
    height: 27%;
    z-index: -1;
    box-shadow: 1px 0 0.5rem rgba(0, 0, 0, 0.5);
    border-radius: 0.1rem;
  }
  #about-mobile p {
    position: absolute;
    top: 155%;
    right: 6%;
    left: 9%;
    font-family: "Caviar Dreams";
    color: #000;
    font-size: 0.8rem;
    text-align: justify;
    padding: 0.5rem;
  }
  #about-mobile .right p {
    position: absolute;
    top: 62rem;
    left: 6rem;
    font-family: "Caviar Dreams Bold";
    color: #ebb7b3;
    font-size: 16rem;
    bottom: -5rem;
    opacity: 0.2;
    z-index: -2;
  }
}
#projects-mobile-details,
#projects-mobile-photography,
#projects-mobile-mtm {
  display: none;
}

#projects {
  width: 100%;
  display: flex;
  padding-bottom: 1rem;
}
#projects .left {
  min-width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 50%;
}
#projects .left .projectNR {
  font-family: "Caviar Dreams Bold";
  color: #ebb7b3;
  font-size: 5rem;
  padding-right: 10rem;
  opacity: 0.6;
  z-index: -2;
}
#projects .left .title {
  font-family: "Caviar Dreams Bold";
  color: #000;
  font-size: 1rem;
  z-index: 10;
}
#projects .left .subtitle {
  font-family: "Caviar Dreams Bold";
  color: #ebb7b3;
  font-size: 0.35rem;
  padding: 0.1rem;
}
#projects .left p {
  font-family: "Caviar Dreams";
  color: #000;
  font-size: 0.45rem;
  text-align: justify;
  padding-left: 1rem;
  padding-right: 1rem;
  z-index: 1;
}
#projects .right {
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding-top: 0.5rem;
  padding-right: 1rem;
  width: 50%;
}
#projects .right img {
  width: 45vw;
  z-index: -1;
}
#projects .right .img-MTM {
  width: 25vw;
  z-index: -1;
}
#projects .right .projectLinkIcon {
  position: absolute;
  bottom: 0;
  right: 0.3rem;
}
#projects .right .projectLinkIcon a {
  color: #fff;
}
#projects .right .projectLinkIcon a svg {
  color: #000;
}

@media (max-width: 480px) {
  #projects {
    display: none;
  }

  #projects-mobile-details {
    height: 100vh;
    width: 100%;
    display: flex;
  }
  #projects-mobile-details .left {
    max-width: 50%;
    display: flex;
    justify-self: flex-start;
    align-items: flex-start;
    position: relative;
    height: 100vh;
    width: 50%;
  }
  #projects-mobile-details .left .box-top-left {
    position: absolute;
    height: 35vh;
    width: clamp(100%, 50vw, 50vw);
    background: #ebb7b3;
    box-shadow: 1px 0 0.5rem rgba(0, 0, 0, 0.5);
    border-bottom-right-radius: 0.1rem;
    z-index: -2;
  }
  #projects-mobile-details .title {
    position: absolute;
    top: 212%;
    left: 30%;
    font-family: "Caviar Dreams Bold";
    color: #000;
    font-size: 2rem;
    z-index: 10;
  }
  #projects-mobile-details .projectLinkIcon {
    position: absolute;
    top: 212.5%;
    left: 66%;
    padding-top: 0;
  }
  #projects-mobile-details img {
    position: absolute;
    top: 224%;
    left: 23%;
    width: 60%;
    height: 20%;
    z-index: -1;
    box-shadow: 1px 0 0.5rem rgba(0, 0, 0, 0.5);
    border-radius: 0.1rem;
  }
  #projects-mobile-details .subtitle {
    position: absolute;
    top: 248%;
    left: 37%;
    font-family: "Caviar Dreams Bold";
    color: #ebb7b3;
    font-size: 1rem;
    padding: 0.1rem;
  }
  #projects-mobile-details p {
    position: absolute;
    top: 252%;
    right: 6%;
    left: 9%;
    font-family: "Caviar Dreams";
    color: #000;
    font-size: 0.8rem;
    text-align: justify;
    padding: 0.5rem;
  }
  #projects-mobile-details .right p {
    position: absolute;
    top: 103rem;
    left: -1rem;
    font-family: "Caviar Dreams Bold";
    color: #ebb7b3;
    font-size: 16rem;
    opacity: 0.2;
    z-index: -2;
  }

  #projects-mobile-photography {
    height: 100vh;
    width: 100%;
    display: flex;
  }
  #projects-mobile-photography .left {
    max-width: 50%;
    display: flex;
    justify-self: flex-start;
    align-items: flex-start;
    position: relative;
    height: 100vh;
    width: 50%;
  }
  #projects-mobile-photography .left .box-top-left {
    position: absolute;
    height: 35vh;
    width: clamp(100%, 50vw, 50vw);
    background: #ebb7b3;
    box-shadow: 1px 0 0.5rem rgba(0, 0, 0, 0.5);
    border-bottom-right-radius: 0.1rem;
    z-index: -2;
  }
  #projects-mobile-photography .title {
    position: absolute;
    top: 312%;
    left: 13%;
    font-family: "Caviar Dreams Bold";
    color: #000;
    font-size: 2rem;
    z-index: 10;
  }
  #projects-mobile-photography .projectLinkIcon {
    position: absolute;
    top: 312.5%;
    left: 80%;
    padding-top: 0;
  }
  #projects-mobile-photography img {
    position: absolute;
    top: 324%;
    left: 23%;
    width: 60%;
    height: 20%;
    z-index: -1;
    box-shadow: 1px 0 0.5rem rgba(0, 0, 0, 0.5);
    border-radius: 0.1rem;
  }
  #projects-mobile-photography .subtitle {
    position: absolute;
    top: 348%;
    left: 27%;
    font-family: "Caviar Dreams Bold";
    color: #ebb7b3;
    font-size: 1rem;
    padding: 0.1rem;
  }
  #projects-mobile-photography p {
    position: absolute;
    top: 352%;
    right: 6%;
    left: 9%;
    font-family: "Caviar Dreams";
    color: #000;
    font-size: 0.8rem;
    text-align: justify;
    padding: 0.5rem;
  }
  #projects-mobile-photography .right p {
    position: absolute;
    top: 144rem;
    left: -1rem;
    font-family: "Caviar Dreams Bold";
    color: #ebb7b3;
    font-size: 16rem;
    opacity: 0.2;
    z-index: -2;
  }

  #projects-mobile-mtm {
    height: 100vh;
    width: 100%;
    display: flex;
  }
  #projects-mobile-mtm .left {
    max-width: 50%;
    display: flex;
    justify-self: flex-start;
    align-items: flex-start;
    position: relative;
    height: 100vh;
    width: 50%;
  }
  #projects-mobile-mtm .left .box-top-left {
    position: absolute;
    height: 35vh;
    width: clamp(100%, 50vw, 50vw);
    background: #ebb7b3;
    box-shadow: 1px 0 0.5rem rgba(0, 0, 0, 0.5);
    border-bottom-right-radius: 0.1rem;
    z-index: -2;
  }
  #projects-mobile-mtm .title {
    position: absolute;
    top: 410%;
    left: 26%;
    font-family: "Caviar Dreams Bold";
    color: #000;
    font-size: 2rem;
    z-index: 10;
  }
  #projects-mobile-mtm .projectLinkIcon {
    position: absolute;
    top: 416.5%;
    left: 55%;
    padding-top: 0;
  }
  #projects-mobile-mtm .projectLinkIcon a {
    color: #fff;
  }
  #projects-mobile-mtm .projectLinkIcon a svg {
    color: #000;
  }
  #projects-mobile-mtm img {
    position: absolute;
    top: 427%;
    left: 23%;
    aspect-ratio: 1/1;
    width: 60%;
    height: 20%;
    z-index: -1;
    box-shadow: 1px 0 0.5rem rgba(0, 0, 0, 0.5);
    border-radius: 0.1rem;
  }
  #projects-mobile-mtm .subtitle {
    position: absolute;
    top: 451%;
    left: 15%;
    font-family: "Caviar Dreams Bold";
    color: #ebb7b3;
    font-size: 1rem;
    padding: 0.1rem;
  }
  #projects-mobile-mtm p {
    position: absolute;
    top: 456%;
    right: 6%;
    left: 9%;
    font-family: "Caviar Dreams";
    color: #000;
    font-size: 0.8rem;
    text-align: justify;
    padding: 0.5rem;
  }
  #projects-mobile-mtm .right p {
    position: absolute;
    top: 186rem;
    left: -1rem;
    font-family: "Caviar Dreams Bold";
    color: #ebb7b3;
    font-size: 16rem;
    bottom: -5rem;
    opacity: 0.2;
    z-index: -2;
  }
}
#timeline1-mobile,
#timeline2-mobile {
  display: none;
}

#timeline {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 200vh;
  width: 100%;
  padding-top: 1rem;
  flex-wrap: wrap;
}
#timeline .backgroundcontainer {
  position: absolute;
  width: 100%;
  height: 100%;
}
#timeline .backgroundcontainer .background20 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  font-family: "Caviar Dreams Bold";
  color: #ebb7b3;
  width: 100%;
  height: 100vh;
  font-size: 12rem;
  opacity: 0.2;
  z-index: -2;
}
#timeline .flexcontainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}
#timeline .flexcontainer .line {
  height: 2vh;
  width: 100%;
  background: #ebb7b3;
  z-index: -1;
}
#timeline .flexcontainer .flex {
  max-width: 33%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  width: 33%;
}
#timeline .flexcontainer .flex .year {
  font-family: "Caviar Dreams Bold";
  color: #000;
  font-size: 2rem;
  padding-bottom: 1.5rem;
  writing-mode: vertical-lr;
  z-index: 10;
}
#timeline .flexcontainer .flex p {
  font-family: "Caviar Dreams";
  color: #000;
  font-size: 0.45rem;
  padding: 0.2rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  z-index: 10;
}
#timeline .flexcontainer .flex .ongoing {
  font-family: "Caviar Dreams Bold";
  color: #ebb7b3;
  font-size: 0.35rem;
  padding: 0.1rem;
}
#timeline .flexcontainer .flex-year {
  display: flex;
  align-items: center !important;
}

@media (max-width: 1000px) {
  #timeline .flex-left .line {
    top: 20%;
  }
  #timeline .flex-middle .line {
    top: 20%;
  }
  #timeline .flex-right .line {
    top: 20%;
  }
}
@media (max-width: 700px) {
  #timeline .flex-left .line {
    top: 15%;
  }
  #timeline .flex-middle .line {
    top: 15%;
  }
  #timeline .flex-right .line {
    top: 15%;
  }
}
@media (max-width: 500px) {
  #timeline .flex-left .line {
    top: 10%;
  }
  #timeline .flex-middle .line {
    top: 10%;
  }
  #timeline .flex-right .line {
    top: 10%;
  }
}
@media (max-width: 480px) {
  #timeline {
    display: none;
  }

  #timeline1-mobile {
    height: 71vh;
  }

  #timeline2-mobile {
    height: 100vh;
  }

  #timeline1-mobile,
#timeline2-mobile {
    width: 100%;
    display: flex;
  }
  #timeline1-mobile .background20,
#timeline2-mobile .background20 {
    position: absolute;
    top: 540%;
    left: 1rem;
    font-family: "Caviar Dreams Bold";
    writing-mode: vertical-lr;
    color: #ebb7b3;
    font-size: 16rem;
    opacity: 0.2;
    z-index: -2;
  }
  #timeline1-mobile .title,
#timeline2-mobile .title {
    position: absolute;
    top: 515%;
    left: 26%;
    font-family: "Caviar Dreams Bold";
    color: #000;
    font-size: 2rem;
    z-index: 10;
  }
  #timeline1-mobile .left,
#timeline2-mobile .left {
    max-width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    height: 100vh;
    width: 30%;
  }
  #timeline1-mobile .left .box-top-left,
#timeline2-mobile .left .box-top-left {
    position: absolute;
    height: 35vh;
    width: clamp(100%, 50vw, 50vw);
    background: #ebb7b3;
    box-shadow: 1px 0 0.5rem rgba(0, 0, 0, 0.5);
    border-bottom-right-radius: 0.1rem;
    z-index: -2;
  }
  #timeline1-mobile .left .top,
#timeline2-mobile .left .top {
    padding-top: 18rem;
  }
  #timeline1-mobile .left .year,
#timeline2-mobile .left .year {
    font-family: "Caviar Dreams Bold";
    color: #000;
    font-size: 2rem;
    padding: 0.5rem;
    padding-bottom: 6rem;
    z-index: 10;
  }
  #timeline1-mobile .left .year19,
#timeline2-mobile .left .year19 {
    padding-top: 1.5rem;
  }
  #timeline1-mobile .left .year20,
#timeline2-mobile .left .year20 {
    padding-top: 6rem;
  }
  #timeline1-mobile .left .line,
#timeline2-mobile .left .line {
    position: absolute;
    height: 150%;
    left: 70%;
    width: clamp(5%, 50vw, 5vw);
    background: #ebb7b3;
    z-index: -1;
  }
  #timeline1-mobile .right,
#timeline2-mobile .right {
    max-width: 70%;
    display: flex;
    justify-self: flex-start;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    height: 100vh;
    width: 70%;
    top: 2rem;
  }
  #timeline1-mobile .right .top,
#timeline2-mobile .right .top {
    padding-top: 16rem;
  }
  #timeline1-mobile .right p,
#timeline2-mobile .right p {
    font-family: "Caviar Dreams";
    color: #000;
    font-size: 1rem;
    padding: 0.5rem;
  }
  #timeline1-mobile .right .ongoing,
#timeline2-mobile .right .ongoing {
    font-family: "Caviar Dreams Bold";
    color: #ebb7b3;
    font-size: 0.7rem;
    padding: 0.1rem;
  }
  #timeline1-mobile .right .distance,
#timeline2-mobile .right .distance {
    padding-bottom: 3rem;
  }
}
#skills-mobile-programming,
#skills-mobile-creative {
  display: none;
}

#skills {
  width: 100%;
  display: flex;
}
#skills .left {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  height: 100vh;
  width: 70%;
}
#skills .left .box-primary {
  position: absolute;
  top: 0;
  left: 0;
  height: 40vh;
  width: clamp(20%, 50vw, 12vw);
  background: #ebb7b3;
  box-shadow: 1px 0 0.5rem rgba(0, 0, 0, 0.5);
  border-top-right-radius: 0.1rem;
  border-bottom-right-radius: 0.1rem;
  z-index: -2;
}
#skills .left .title {
  font-family: "Caviar Dreams Bold";
  padding-top: 10vh;
  color: #000;
  font-size: 1rem;
  padding-left: 2rem;
  z-index: 10;
}
#skills .left .left-elements {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  padding-top: 2rem;
  padding-left: 1rem;
}
#skills .left .left-elements .line {
  position: absolute;
  height: 100%;
  width: 0.5vw;
  background: #000;
  border-radius: 5px;
  z-index: -1;
}
#skills .left .left-elements li {
  font-family: "Caviar Dreams Bold";
  color: #000;
  list-style: none;
  line-height: 1rem;
  font-size: 0.6rem;
  z-index: 10;
}
#skills .left .left-elements .left-left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 40%;
  padding-left: 25%;
}
#skills .left .left-elements .left-right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 40%;
}
#skills .creativetop {
  padding-top: 2.5rem;
}
#skills .right {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
  position: relative;
  height: 100vh;
  width: 30%;
}
#skills .right svg {
  padding-top: 0.5rem;
  padding-right: 0.5rem;
  opacity: 0.4;
  z-index: -2;
}

@media (max-width: 1520px) {
  #skills {
    height: 100vh;
    width: 100%;
    display: flex;
  }
  #skills .left {
    padding-right: 3rem;
  }
  #skills .left .box-primary {
    height: 100vh;
    width: clamp(10%, 50vw, 5vw);
  }
  #skills .left .left-elements {
    padding-top: 1rem;
  }
  #skills .left .left-elements .left-left ul {
    padding-left: 0rem;
  }
  #skills .left .left-right ul {
    padding-left: 1rem;
  }
}
@media (max-width: 480px) {
  #skills {
    display: none;
  }

  #skills-mobile-programming {
    height: 100vh;
    width: 100%;
    display: flex;
  }
  #skills-mobile-programming .left {
    max-width: 50%;
    display: flex;
    justify-self: flex-start;
    align-items: flex-start;
    position: relative;
    height: 100vh;
    width: 50%;
    padding-top: 17rem;
  }
  #skills-mobile-programming .left .box-top-left {
    position: absolute;
    height: 35vh;
    width: clamp(100%, 50vw, 50vw);
    background: #ebb7b3;
    box-shadow: 1px 0 0.5rem rgba(0, 0, 0, 0.5);
    border-bottom-right-radius: 0.1rem;
    z-index: -2;
  }
  #skills-mobile-programming .title {
    position: absolute;
    top: 725%;
    left: 20%;
    font-family: "Caviar Dreams Bold";
    color: #000;
    font-size: 2rem;
    z-index: 10;
  }
  #skills-mobile-programming ul {
    position: absolute;
    top: 752%;
    right: 6%;
    left: 23%;
    line-height: 1.5rem;
    font-family: "Caviar Dreams";
    color: #000;
    font-size: 1rem;
    text-align: justify;
    padding: 0.5rem;
  }
  #skills-mobile-programming .right svg {
    position: absolute;
    top: 310rem;
    right: 0rem;
    font-family: "Caviar Dreams Bold";
    color: #ebb7b3;
    font-size: 16rem;
    bottom: -5rem;
    opacity: 0.2;
    z-index: -2;
  }

  #skills-mobile-creative {
    height: 100vh;
    width: 100%;
    display: flex;
  }
  #skills-mobile-creative .left {
    display: flex;
    justify-self: flex-start;
    align-items: flex-start;
    position: relative;
    height: 100vh;
    width: 50%;
    padding-top: 17rem;
  }
  #skills-mobile-creative .left .box-top-left {
    position: absolute;
    height: 35vh;
    width: clamp(100%, 50vw, 50vw);
    background: #ebb7b3;
    box-shadow: 1px 0 0.5rem rgba(0, 0, 0, 0.5);
    border-bottom-right-radius: 0.1rem;
    z-index: -2;
  }
  #skills-mobile-creative .title {
    position: absolute;
    top: 828%;
    left: 17%;
    font-family: "Caviar Dreams Bold";
    color: #000;
    font-size: 2rem;
    z-index: 10;
  }
  #skills-mobile-creative ul {
    position: absolute;
    top: 851%;
    right: 6%;
    left: 23%;
    line-height: 1.5rem;
    font-family: "Caviar Dreams";
    color: #000;
    font-size: 1rem;
    text-align: justify;
    padding: 0.5rem;
  }
  #skills-mobile-creative .right {
    display: flex;
    justify-self: flex-start;
    align-items: flex-start;
    position: relative;
    height: 100vh;
    width: 50%;
    padding-top: 17rem;
  }
  #skills-mobile-creative .right svg {
    position: absolute;
    top: 346rem;
    right: 0rem;
    font-family: "Caviar Dreams Bold";
    color: #ebb7b3;
    font-size: 16rem;
    bottom: -5rem;
    opacity: 0.2;
    z-index: -2;
  }
}
#contact-mobile,
#impressum-mobile {
  display: none;
}

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  width: 100%;
  flex-wrap: wrap;
}
#contact .backgroundcontainer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
}
#contact .backgroundcontainer .backgroundcontact {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: "Caviar Dreams Bold";
  color: #ebb7b3;
  width: 100%;
  height: 100vh;
  font-size: 6.55rem;
  pointer-events: none;
  opacity: 0.2;
  z-index: -2;
}
#contact img {
  width: 7vw;
  height: 7vw;
}
#contact .contact-icons {
  cursor: pointer;
  padding-left: 3%;
}
#contact .contact-icons a {
  padding: 0.5rem;
  color: #fff;
}
#contact .contact-icons a svg {
  color: #000;
}
#contact .box-bottom {
  position: absolute;
  bottom: 0;
  height: 20vh;
  width: 100%;
  background-color: #ebb7b3;
  box-shadow: 1px 0 0.5rem rgba(0, 0, 0, 0.5);
  border-bottom-right-radius: 0.1rem;
}

@media (max-width: 480px) {
  #contact {
    display: none;
  }

  #impressum-mobile {
    height: 50vh;
    width: 100%;
    display: flex;
  }
  #impressum-mobile .box-bottom {
    position: absolute;
    margin-top: 15rem;
    height: 35vh;
    width: clamp(100%, 50vw, 50vw);
    background-color: #ebb7b3;
    box-shadow: 1px 0 0.5rem rgba(0, 0, 0, 0.5);
    border-bottom-right-radius: 0.1rem;
    opacity: 0.5;
    z-index: -2;
  }
  #impressum-mobile .title {
    position: absolute;
    font-family: "Caviar Dreams Bold";
    color: #000;
    font-size: 1rem;
    z-index: 10;
  }
  #impressum-mobile .impressum {
    top: 973%;
    left: 36%;
  }
  #impressum-mobile .copyright {
    top: 983%;
    left: 35%;
  }
  #impressum-mobile p {
    position: absolute;
    font-family: "Caviar Dreams";
    color: #000;
    font-size: 0.7rem;
    text-align: justify;
    padding: 0.5rem;
  }
  #impressum-mobile .impressumname {
    top: 975%;
    left: 30.5%;
  }
  #impressum-mobile .impressumcity {
    top: 977%;
    left: 32%;
  }
  #impressum-mobile .impressummail {
    top: 979%;
    left: 24%;
  }
  #impressum-mobile .copyrighttext {
    top: 986%;
    right: 1rem;
    left: 1rem;
  }
  #impressum-mobile .copyrightinfo {
    top: 994%;
    left: 1rem;
  }
  #impressum-mobile .copyrightcityyear {
    top: 997%;
    left: 31%;
  }
}

/*# sourceMappingURL=style.css.map */
