@font-face {
  font-family: "Caviar Dreams";
  src: url(../font/CaviarDreams.ttf);
}
@font-face {
  font-family: "Caviar Dreams Bold";
  src: url(../font/CaviarDreams_Bold.ttf);
}
@font-face {
  font-family: "Caviar Dreams Italic";
  src: url(../font/CaviarDreams_Italic.ttf);
}
@font-face {
  font-family: "Caviar Dreams Bolditalic";
  src: url(../font/CaviarDreams_Bolditalic.ttf);
}
* {
  margin: 0 !important;
}

html {
  font-size: 60px;
}

.all {
  overflow-x: hidden;
}

@media (min-width: 1920px) {
  html {
    font-size: 80px;
  }
}
@media (max-width: 1000px) {
  html {
    font-size: 40px;
  }
}
@media (max-width: 700px) {
  html {
    font-size: 30px;
  }
}
@media (max-width: 650px) {
  .all {
    overflow-x: visible !important;
  }

  .container {
    flex-flow: wrap;
  }

  .left {
    width: 100% !important;
  }

  .right {
    width: 100% !important;
  }
}
body {
  position: relative;
}

p {
  font-family: "Caviar Dreams";
  color: #333333;
  font-size: 0.4rem;
  text-align: justify;
  line-height: 0.65rem;
  hyphens: auto;
}
@media (max-width: 1200px) {
  p {
    line-height: 0.55rem;
  }
}

.container {
  width: 100%;
  display: flex;
}

.title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title h1 {
  font-family: "Caviar Dreams Bold";
  padding: 1.25rem 0;
  margin-inline-start: 0;
  color: #ebb7b3;
}

a {
  color: #333333;
  text-decoration: none;
}

#magicMouseCursor {
  border-color: #333333 !important;
}

#magicPointer {
  background: #ebb7b3 !important;
  opacity: 0.7;
}

#magicPointer.pointer-blur {
  background: #ebb7b3 !important;
}

@media (max-width: 650px) {
  #magicMouseCursor,
#magicPointer,
#magicPointer.pointer-blur {
    display: none;
  }
}
::-webkit-scrollbar {
  width: 0.15rem;
}

::-webkit-scrollbar-thumb {
  background: #ebb7b3;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ebb7b3;
}

#hero-mobile {
  display: none;
}

@keyframes flyintop {
  0% {
    top: -100vh;
  }
  100% {
    top: 0;
  }
}
@keyframes flyinbottom {
  0% {
    top: 200vh;
  }
  100% {
    top: 0;
  }
}
@keyframes flyinleft {
  0% {
    left: -100vh;
  }
  100% {
    left: 0;
  }
}
@keyframes flyinright {
  0% {
    left: 200vh;
  }
  100% {
    left: 0;
  }
}
#hero .left {
  max-width: 50%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  position: relative;
  height: 100vh;
  width: 50%;
  animation-name: flyinbottom;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
#hero .left .box-primary {
  position: absolute;
  height: 80vh;
  width: clamp(100%, 50vw, 50vw);
  background: #ebb7b3;
  border-bottom-right-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
  z-index: -2;
}
#hero .left .firstname {
  font-family: "Caviar Dreams Bold";
  padding-top: 40vh;
  color: #333333;
  font-size: 1.5rem;
  padding-right: 10px;
  z-index: 10;
}
#hero .right {
  position: relative;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  padding-left: 10px;
  height: 100vh;
  width: 50%;
  animation-name: flyintop;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
#hero .right .lastname {
  font-family: "Caviar Dreams Bold";
  color: #ebb7b3;
  font-size: 1.5rem;
  padding-top: 40vh;
  padding-right: 1rem;
  z-index: 10;
}
#hero .right .subtitle {
  font-family: "Caviar Dreams";
  color: #333333;
  font-size: 0.8rem;
  margin-top: 0%;
  z-index: 10;
}

@media (max-width: 1200px) {
  #hero .left .firstname {
    font-size: 1.2rem;
  }
  #hero .right .lastname {
    font-size: 1.2rem;
  }
  #hero .right .subtitle {
    font-size: 0.5rem;
  }
}
@media (max-width: 650px) {
  #hero {
    display: none;
  }

  #hero-mobile {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  #hero-mobile .left,
#hero-mobile .right {
    padding-left: 0;
    padding-right: 0;
  }
  #hero-mobile .left {
    display: flex;
    justify-self: flex-start;
    align-items: flex-start;
    position: relative;
    height: 33%;
  }
  #hero-mobile .left .box-top-left {
    height: 100%;
    width: 50%;
    background: #ebb7b3;
    box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
    border-bottom-right-radius: 10px;
    z-index: -2;
  }
  #hero-mobile .middle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 33%;
  }
  #hero-mobile .middle .firstname {
    font-family: "Caviar Dreams Bold";
    color: #333333;
    font-size: 13vw;
    z-index: 10;
  }
  #hero-mobile .middle .lastname {
    font-family: "Caviar Dreams Bold";
    color: #ebb7b3;
    font-size: 13vw;
    z-index: 10;
  }
  #hero-mobile .middle .subtitle {
    font-family: "Caviar Dreams";
    color: #333333;
    font-size: 7vw;
    z-index: 10;
  }
  #hero-mobile .right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    height: 33%;
  }
  #hero-mobile .right .box-bottom-right {
    height: 100%;
    width: 50%;
    background: #ebb7b3;
    box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: -2;
  }
}
#about-mobile {
  display: none;
}

.mobile {
  display: none;
}

#about {
  padding-bottom: 1rem;
}
#about .left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}
#about .left .about-me-h1 {
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  font-size: 8vw;
}
#about .left p {
  padding-left: 2rem;
  padding-right: 1rem;
}
#about .right {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 50%;
  padding-bottom: 1.5rem;
}
#about .right .box-primary {
  height: 65%;
  position: absolute;
  bottom: -0.5rem;
  right: 0;
  width: 95%;
  background: #ebb7b3;
  box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: -2;
}
#about .right .about-me-img {
  width: 60%;
}
#about .right img {
  width: 100%;
  max-width: 600px;
  aspect-ratio: 1/1;
  box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
  border-radius: 10px;
}

@media (max-width: 650px) {
  #about .box-primary {
    width: 50% !important;
    left: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  #about .title {
    display: none;
  }
  #about .mobile {
    display: flex;
  }
  #about .left {
    order: 2;
  }
  #about .left p {
    padding: 1rem;
  }
  #about .right {
    align-items: center;
    justify-content: center;
    order: 1;
  }
}
/*
//mobile
@media (max-width: 480px) {
  #about {
    display: none;
  }

  #about-mobile {
    width: 100%;
    display: flex;

    .left {
      max-width: 50%;
      display: flex;
      justify-self: flex-start;
      align-items: flex-start;
      position: relative;
      height: 100vh;
      width: 50%;

      .box {
        &-top-left {
          position: absolute;
          height: 35vh;
          width: clamp(100%, 50vw, 50vw);
          background: $primary;
          box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
          border-bottom-right-radius: 10px;
          z-index: -2;
        }
      }
    }

    .title {
      position: absolute;
      top: 115%;
      left: 28%;
      font-family: "Caviar Dreams Bold";
      color: $black;
      font-size: 2rem;
      z-index: 10;
    }
    img {
      position: absolute;
      top: 125%;
      left: 23%;
      aspect-ratio: 1/1;
      height: 27%;
      z-index: -1;
      box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
      border-radius: 10px;
    }
    p {
      position: absolute;
      top: 155%;
      right: 6%;
      left: 9%;
      font-family: "Caviar Dreams";
      color: $black;
      font-size: 0.8rem;
      text-align: justify;
      padding: 0.5rem;
    }

    .right {
      p {
        position: absolute;
        top: 62rem;
        left: 6rem;
        font-family: "Caviar Dreams Bold";
        color: $primary;
        font-size: 16rem;
        bottom: -5rem;
        opacity: 0.2;
        z-index: -2;
      }
    }
  }
}
*/
#projects-mobile-details,
#projects-mobile-photography,
#projects-mobile-mtm {
  display: none;
}

.padding-bottom-projects {
  padding-bottom: 2rem;
}

#projects {
  width: 100%;
  display: flex;
}
#projects .left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}
#projects .left .project-title {
  position: relative;
  height: 7rem;
  display: flex;
  align-items: center;
}
#projects .left .project-title .projectNR {
  position: absolute;
  top: 50%;
  transform: translate(-26%, -50%);
  font-family: "Caviar Dreams Bold";
  color: #ebb7b3;
  font-size: 6.5rem;
  opacity: 0.8;
}
#projects .left .project-title .title {
  position: relative;
  font-family: "Caviar Dreams Bold";
  color: #333333;
  font-size: 1.5rem;
  z-index: 10;
}
#projects .left .link-underline {
  text-decoration: underline #ebb7b3 0.1rem;
  text-decoration-skip-ink: none;
}
@media (min-width: 650px) {
  @keyframes text {
    0% {
      top: 200vh;
      opacity: 0;
    }
    100% {
      top: 0;
      opacity: 100;
    }
  }
  #projects .left .p-animation {
    position: relative;
    animation-name: text;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
}
#projects .left p {
  padding-left: 1rem;
  padding-right: 1rem;
  z-index: 1;
}
#projects .left .tags {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-family: "Caviar Dreams Bold";
  color: #ebb7b3;
  font-size: 0.5rem;
  padding: 0.1rem;
  padding-left: 1rem;
}
#projects .right {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  width: 50%;
}
#projects .right img {
  width: 100%;
}

@media (max-width: 650px) {
  .right,
.left {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .right p,
.left p {
    font-size: 0.6rem;
    line-height: 0.7rem;
  }

  .mtm-title {
    padding: 0;
  }

  .mtm-p {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }

  #projects {
    pointer-events: none;
  }
  #projects .right .img-MTM {
    padding-bottom: 2.5rem;
  }
}
#timeline-mobile {
  display: none;
}

#timeline {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  width: 200%;
  flex-wrap: nowrap;
}
#timeline .backgroundcontainer {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0;
}
#timeline .backgroundcontainer .background20 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  font-family: "Caviar Dreams Bold";
  color: #ebb7b3;
  width: 100%;
  height: 100vh;
  font-size: 12rem;
  opacity: 0.4;
  z-index: -2;
}
#timeline .flexcontainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  height: 500px;
}
#timeline .flexcontainer.flex-end {
  justify-content: flex-end;
}
#timeline .flexcontainer.flex-start {
  justify-content: flex-start;
}
#timeline .flexcontainer .line {
  height: 2vh;
  width: 100%;
  background: #ebb7b3;
  z-index: -1;
}
#timeline .flexcontainer .flex {
  max-width: 33%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  width: 33%;
  height: 200px;
}
#timeline .flexcontainer .flex .year {
  font-family: "Caviar Dreams Bold";
  color: #333333;
  font-size: 2rem;
  padding-bottom: 1.5rem;
  writing-mode: vertical-lr;
  z-index: 10;
}
#timeline .flexcontainer .flex p {
  padding: 0.2rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  text-align: left;
  z-index: 10;
}
#timeline .flexcontainer .flex .ongoing {
  font-family: "Caviar Dreams Bold";
  color: #ebb7b3;
  font-size: 0.35rem;
  padding: 0.1rem;
}
#timeline .flexcontainer .flex-year {
  display: flex;
  align-items: center !important;
}

@media (max-width: 650px) {
  #timeline {
    display: none;
    pointer-events: none;
  }

  #timeline-mobile {
    width: 100%;
    display: flex;
    position: relative;
    flex-wrap: wrap;
  }
  #timeline-mobile .line {
    position: absolute;
    height: 100%;
    width: 2vw;
    background: #ebb7b3;
    left: 29%;
    border-radius: 10px;
  }
  #timeline-mobile .backgroundcontainer-mobile {
    width: 100%;
    position: absolute;
    height: 100%;
  }
  #timeline-mobile .backgroundcontainer-mobile .background20-mobile {
    font-family: "Caviar Dreams Bold";
    writing-mode: vertical-lr;
    color: #ebb7b3;
    font-size: 75vw;
    opacity: 0.4;
    z-index: -2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    left: -5%;
    width: 100%;
  }
  #timeline-mobile .timeline-element {
    display: flex;
    width: 100%;
    padding-bottom: 0.5rem;
  }
  #timeline-mobile .title {
    font-family: "Caviar Dreams Bold";
    color: #333333;
    font-size: 2rem;
    z-index: 10;
  }
  #timeline-mobile .left {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 30% !important;
    padding: 0;
  }
  #timeline-mobile .left .box-top-left {
    position: absolute;
    height: 35vh;
    width: clamp(100%, 50vw, 50vw);
    background: #ebb7b3;
    box-shadow: 1px 0 0.5rem rgba(0, 0, 0, 0.5);
    border-bottom-right-radius: 0.1rem;
    z-index: -2;
  }
  #timeline-mobile .left .top {
    padding-top: 18rem;
  }
  #timeline-mobile .left .year {
    font-family: "Caviar Dreams Bold";
    color: #333333;
    font-size: 2rem;
    padding: 0.5rem;
    z-index: 10;
  }
  #timeline-mobile .right {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    width: 70% !important;
  }
  #timeline-mobile .right p {
    font-size: 0.7em;
    padding: 0.5rem;
    text-align: left;
    line-height: 1rem;
  }
  #timeline-mobile .right .ongoing {
    font-family: "Caviar Dreams Bold";
    color: #ebb7b3;
    font-size: 0.5rem;
    padding: 0.1rem;
  }
}
#skills-mobile-programming,
#skills-mobile-creative {
  display: none;
}

#programming-skills {
  flex-wrap: wrap;
  position: relative;
  padding-top: 4rem;
}
#programming-skills .box-primary {
  height: 100%;
  width: 10%;
  position: absolute;
  top: 3rem;
  bottom: 0;
  right: 0;
  background: #ebb7b3;
  box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: -2;
}
#programming-skills .title-1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#programming-skills .title-1 h1 {
  padding: 0 0;
  font-family: "Caviar Dreams Bold";
  font-size: 11vw;
  padding-left: 1rem;
  opacity: 0.8;
  color: #ebb7b3;
  margin-inline-start: 0;
}
#programming-skills .left {
  display: flex;
  width: 40%;
}
#programming-skills .left .title-2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
#programming-skills .left .title-2 h1 {
  font-family: "Caviar Dreams Bold";
  font-size: 11vw;
  padding: 0 0;
  padding-left: 1rem;
  opacity: 0.8;
  color: #ebb7b3;
  margin-inline-start: 0;
}
#programming-skills .right {
  display: flex;
  width: 60%;
  padding-top: 1rem;
}
#programming-skills .right li {
  font-family: "Caviar Dreams Bold";
  color: #333333;
  list-style: none;
  font-size: 80px;
  line-height: 1rem;
  font-size: 0.5rem;
}
#programming-skills .right .right-left {
  display: flex;
  align-items: center;
  position: relative;
}
@keyframes listelement-right {
  0% {
    right: 40px;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}
#programming-skills .right .right-left .li-animation {
  position: relative;
  animation-name: listelement-right;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
#programming-skills .right .right-left .line {
  position: absolute;
  height: 100%;
  width: 0.5vw;
  background: #333333;
  border-radius: 5px;
  z-index: -1;
}
#programming-skills .right .right-right {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 2rem;
}
@keyframes listelement-right {
  0% {
    right: 40px;
    opacity: 0;
  }
  100% {
    right: 0;
    opacity: 1;
  }
}
@media (max-width: 650px) {
  @keyframes listelement-right {
    0% {
      right: 20px;
      opacity: 0;
    }
    100% {
      right: 0;
      opacity: 1;
    }
  }
}
#programming-skills .right .right-right .li-animation {
  position: relative;
  animation-name: listelement-right;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
#programming-skills .right .right-right .line {
  position: absolute;
  height: 100%;
  width: 0.5vw;
  background: #333333;
  border-radius: 5px;
  z-index: -1;
}

#creative-skills {
  flex-wrap: wrap;
  position: relative;
  padding-top: 3.5rem;
  padding-bottom: 1rem;
}
@keyframes listelement-left {
  0% {
    left: 40px;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}
@media (max-width: 650px) {
  @keyframes listelement-left {
    0% {
      left: 20px;
      opacity: 0;
    }
    100% {
      left: 0;
      opacity: 1;
    }
  }
}
#creative-skills .li-animation {
  position: relative;
  animation-name: listelement-left;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
#creative-skills .box-primary {
  height: 100%;
  width: 10%;
  position: absolute;
  top: 1.5rem;
  bottom: 0;
  left: 0;
  background: #ebb7b3;
  box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: -2;
}
#creative-skills .title-1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#creative-skills .title-1 h1 {
  padding: 0 0;
  font-family: "Caviar Dreams Bold";
  font-size: 10vw;
  padding-right: 1rem;
  opacity: 0.8;
  color: #ebb7b3;
  margin-inline-start: 0;
}
#creative-skills .left {
  display: flex;
  justify-content: flex-end;
  width: 60%;
  padding-top: 1rem;
}
#creative-skills .left ul {
  text-align: right;
  padding-right: 40px;
}
#creative-skills .left ul li {
  font-family: "Caviar Dreams Bold";
  color: #333333;
  list-style: none;
  line-height: 1rem;
  font-size: 0.5rem;
}
#creative-skills .left .left-right {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 1rem;
}
#creative-skills .left .left-right .line {
  position: absolute;
  height: 100%;
  width: 0.5vw;
  right: 0;
  background: #333333;
  border-radius: 5px;
  z-index: -1;
}
#creative-skills .left .left-left {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 2rem;
}
#creative-skills .left .left-left .line {
  position: absolute;
  height: 100%;
  width: 0.5vw;
  right: 0;
  background: #333333;
  border-radius: 5px;
  z-index: -1;
}
#creative-skills .right {
  display: flex;
  width: 40%;
}
#creative-skills .right .title-2 {
  padding: 0 0;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
#creative-skills .right .title-2 h1 {
  font-family: "Caviar Dreams Bold";
  font-size: 10vw;
  padding: 0 0;
  padding-right: 1rem;
  opacity: 0.8;
  color: #ebb7b3;
  margin-inline-start: 0;
}

@media (max-width: 650px) {
  .title-1 {
    padding-top: 1rem;
  }

  ul {
    padding: 20px;
  }

  #programming-skills .left .title-2 h1 {
    padding-left: 0;
  }
  #programming-skills .right {
    justify-content: flex-start;
    align-items: center;
  }
  #programming-skills .right .right-left {
    padding-left: 0;
  }
  #programming-skills .right .right-right {
    padding-left: 0;
  }

  #creative-skills .title-1 h1 {
    font-size: 9.5vw;
  }
  #creative-skills .left {
    justify-content: flex-end;
    padding: 1rem;
    order: 2;
  }
  #creative-skills .left ul {
    padding: 20px;
  }
  #creative-skills .left .left-left {
    padding-right: 0;
    padding-left: 0;
  }
  #creative-skills .left .left-right {
    padding-right: 0;
  }
  #creative-skills .right {
    order: 1;
  }
  #creative-skills .right .title-2 h1 {
    padding-right: 0;
    font-size: 9.5vw;
  }
}
#contact-mobile,
#impressum-mobile {
  display: none;
}

#contact {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  padding-top: 14vw;
}
#contact .backgroundcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: -2;
}
#contact .backgroundcontainer .backgroundcontact {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Caviar Dreams Bold";
  color: #ebb7b3;
  width: 100%;
  font-size: 17vw;
  pointer-events: none;
  opacity: 0.8;
  z-index: -2;
}
#contact .icon-size {
  width: 4.3vw;
  height: 4.3vw;
}
#contact .contact-icons {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 1.7rem;
}
#contact .contact-icons a {
  padding: 0.2rem;
  color: #fff;
}
#contact .icons-container {
  font-family: "Caviar Dreams";
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#contact .icons-container .copyright {
  font-size: 0.3rem;
  width: 100%;
  line-height: 0.25rem;
}
#contact .icons-container .impressum {
  align-items: flex-end;
  text-align: center;
  font-size: 0.25rem;
  width: 100%;
}
#contact .icons-container .icons8 {
  align-items: flex-end;
  text-align: center;
  font-size: 0.2rem;
  width: 100%;
  line-height: 0.25rem;
  padding-bottom: 0.5rem;
}

@media (max-width: 650px) {
  #contact .icon-size {
    width: 6vw;
    height: 6vw;
  }
  #contact .icons-container .copyright {
    font-size: 0.6rem !important;
  }
  #contact .icons-container .impressum {
    font-size: 0.45rem !important;
    padding: 0.1rem;
  }
  #contact .icons-container .icons8 {
    font-size: 0.4rem !important;
  }
}

/*# sourceMappingURL=style.css.map */
