body{
	  font-family: sans-serif;
	}
	
html, .fullscreen {
	  display: flex;
	  height: 100%;
	  margin: 0;
	  padding: 0;
	  width: 100%;
	}
	
.container {
	  margin: auto;
	  text-align: center;
	}
	
.title {
	  font-size: 3rem;
	}

.text{
		margin: 2em;
		color: lightgray;
		font-size: 13px;
	}

.top-left{
		position: absolute;
		top: 0;
		left: 0;
		margin: 2em;
	}

.bottom-left{
		position: absolute;
		bottom: 0;
		left: 0;
		writing-mode: vertical-lr;
		transform: rotate(180deg);
	}

.bottom-right{
		position: absolute;
		bottom: 0;
		right: 0;
	}

.img{
		width: 50px;
		height: auto;
	}

a{
		cursor: pointer;
	}

a:hover{
		color: #ffc4c4;
	}

.button{
		border: solid 2px;
		border-radius: 12px;
		padding: 0.5em 1.5em;
	}
.button-pink{
		border-color: #ffc4c4;
		cursor: pointer;
	}

.button-pink:hover{
		background-color: #ffc4c4;
		color: black;
	}

.button-grey{
	border-color: lightgrey;
	color: lightgrey;
}

.button-grey:hover{
	background-color: white;
	cursor: not-allowed;
	color: lightgrey;
}